@model IEnumerable<Ecommerce.Models.Catalogos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Categorias</h2>

<p>
    <a href="@Url.Action("Create","Catalogos1")" class="btn btn-primary">Crear nueva categoria</a>
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class="btn btn-warning"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id },new { @class="btn btn-danger"})
        </td>
    </tr>
}

</table>
