@model Ecommerce.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<style>
    .outer {
        background-color: #F7F7F7;
    }
</style>

<div class="pt-5 vh-100 bg-pan2">
    <div class="text-center">
        <h2 class="text-black-50">Cambiar contraseña</h2>
    </div>
    <div class="row justify-content-center align-content-center">
        <div class="col-md-6  outer">
            <section id="loginForm" class="row justify-content-center align-content-center text-center">

                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <hr />

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>Contraseña Actual</label>
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nueva Contraseña</label>
                        <div class="col-12">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirma la nueva contraseña</label>
                        <div class="col-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cambiar Contraseña" class="btn btn-success" />
                        
                    </div>


                }
            </section>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
